# Qdrant
QDRANT_URL=
QDRANT_API_KEY=
COLLECTION_NAME=video_transcripts
QDRANT_RECREATE=false

# Google Gemini
GEMINI_API_KEY=
EMBEDDING_MODEL=text-embedding-004
GENERATION_MODEL=gemini-1.5-flash

# Server
PORT=3000

